{% extends 'base.html.twig' %}

{% block title %}Legende index{% endblock %}

{% block body %}
    <h1>Legende index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for legende in legendes %}
            <tr>
                <td>{{ legende.id }}</td>
                <td>{{ legende.name }}</td>
                <td>{{ legende.pseudo }}</td>
                <td>{{ legende.email }}</td>
                <td>
                    <a href="{{ path('app_legende_show', {'id': legende.id}) }}">show</a>
                    <a href="{{ path('app_legende_edit', {'id': legende.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_legende_new') }}">Create new</a>
{% endblock %}
