<ul class="nav">
    <li><a href="{{ path('app_test') }}">Home</a></li>
    <li><a href="{{ path('app_test') }}">About</a></li>
    <li><a href="{{ path('app_test') }}">Contact</a></li>
    <li><a href="{{ path('app_test') }}">Services</a></li>
    <li><a href="{{ path('app_test') }}">Blog</a></li>
</ul>